*{
background-color: azure;
}
.bio{
    margin-left: 40%;
}
li:first-child {
    background-color: brown ;

}
li:last-child{
    background-color: chocolate;

}
li:nth-child(2n-1){
    background-color: coral;
}
.san{
    background-color: cornsilk;
    padding: 40px;
    margin: 
}
